table {
    width: flex;
    align-items: center;    
    border-collapse: collapse;
    position: relative;
    background: scroll; 
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
}
.title{
  background-color: lightblue;
  text-align: center;
  align-items: center;
  width: flex;
  border: 1px solid lightblue;
  margin-top: 50px;
  height: 30px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;

}
   thead th {
    border-bottom: 2px solid lightgray;
    width: 512px;
    margin: 5px;
    margin-bottom: 5px;
  }
  
  thead th > button:hover {
    background-color: white;
  }
  thead button {
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5em;
    margin-bottom: 1px;
    width: 150px;
    border: 1px solid lightgray;
    
  }
  /* thead button:hover {
    color: lightgreen;
  } */
  thead button.ascending::after {
    content: "↑";
    display: inline-block;
    margin-left: 1em;
  }
  
  thead button.descending::after {
    content: "↓";
    display: inline-block;
    margin-left: 1em;
  }
